
@{
    ViewBag.Title = "Home Page";
}


@using (Html.BeginForm("GetPrice", "Home"))
    {
        
        @Html.Label("Make and Model:")
        @Html.DropDownList("vehicle", ViewData["MakesModels"] as SelectList)<br />
        @Html.Label("Zipcode From:")
        @Html.TextBox("zipcode1", 35201)<br />
        @Html.Label("Zipcode To:")
        @Html.TextBox("zipcode2", 90210)<br />
        <input type="submit" value="Get Quotes" /> 
    }

<div>
   
        @ViewBag.Quotes[0].Vehicle<br />
        From: @ViewBag.Quotes[0].Area1 To: @ViewBag.Quotes[0].Area2<br /> 
        Price: $@ViewBag.Quotes[0].Price<br /><br />

        @{
            
            Response.Write(HttpUtility.HtmlDecode(ViewBag.Log));
        }


 </div>